.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.switchWrapper {
  position: relative;
}

.slide {
  width: 2.5rem;
  height: 1rem;
  background: var(--consent-control-ui-switch-slide-bg);
  border-radius: 1rem;
  box-shadow: var(--consent-control-ui-switch-shadow);
  transition: background-color 0.3s ease-out;
}

.nodge {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--consent-control-ui-switch-nodge-bg);
  border-radius: 1.5rem;
  box-shadow: var(--consent-control-ui-switch-shadow);
  top: -0.25rem;
  left: -0.25rem;
  transition: transform 0.3s ease-in-out;
}

.content {
  margin-left: 0.75rem;
  color: #52525b;
}

.input {
  display: none;
}
