.enter {
  opacity: 0;
  will-change: opacity;
}

.enterActive {
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.enterDone {
  opacity: 1;
}

.exit {
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.exitActive {
  opacity: 0;
  will-change: opacity;
}
