.enter {
  transform: translateY(0%);
}

.enterActive {
  transform: translateY(-100%);
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

.enterDone {
  transform: translateY(-100%);
}

.exit {
  transform: translateY(-100%);
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

.exitActive {
  transform: translateY(0%);
}
