/* color scheme aware color definitions */
:root {
  --consent-manager-ui-primary: #16a34a;
  --consent-manager-ui-bg: #f4f4f5;
  --consent-manager-ui-bg-transparent: rgba(250, 250, 250, 0.87);
  --consent-manager-ui-color: #18181b;
  --consent-manager-ui-inverse-shadow: 0 -1px 3px 2px rgba(161, 161, 170, 0.2),
    0 -1px 2px 0 rgba(161, 161, 170, 0.09);
  --consent-manager-ui-drop-shadow: 0 1px 3px rgba(98, 98, 101, 0.36);
  --consent-manager-ui-switch-slide-bg: #e4e4e7;
  --consent-manager-ui-switch-nodge-bg: #e4e4e7;
  --consent-manager-ui-switch-shadow: 0 1px 3px 2px rgba(24, 24, 27, 0.2),
    0 1px 2px 0 rgba(24, 24, 27, 0.09);
  --consent-manager-ui-switch-slide-enabled: var(--consent-manager-ui-primary);
  --consent-manager-ui-toggle-primary: var(--consent-manager-ui-primary);
  --consent-manager-ui-toggle-bg: #f4f4f5;
  --consent-manager-ui-intro-primary: var(--consent-manager-ui-primary);
  --consent-manager-ui-intro-bg: var(--consent-manager-ui-bg);
  --consent-manager-ui-intro-color: var(--consent-manager-ui-color);
  --consent-manager-ui-intro-close-bg: #3f3f46;
  --consent-manager-ui-intro-close-color: #fff;
  --consent-manager-ui-link-color: var(--consent-manager-ui-primary);
  --consent-manager-ui-fallback-stripe-color: rgb(247, 247, 248);
}

html[data-theme='dark'] {
  --consent-manager-ui-bg: #18181b;
  --consent-manager-ui-bg-transparent: rgba(24, 24, 27, 0.87);
  --consent-manager-ui-color: #f4f4f5;
  --consent-manager-ui-inverse-shadow: 0 -1px 3px 2px rgba(250, 250, 250, 0.1),
    0 -1px 2px 0 rgba(250, 250, 250, 0.05);
  --consent-manager-ui-switch-slide-bg: #a1a1aa;
  --consent-manager-ui-link-color: #22c55e;
  --consent-manager-ui-fallback-stripe-color: rgb(32, 32, 34);
  --consent-manager-ui-intro-close-bg: #f4f4f5;
  --consent-manager-ui-intro-close-color: #18181b;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    --consent-manager-ui-bg: #18181b;
    --consent-manager-ui-bg-transparent: rgba(24, 24, 27, 0.87);
    --consent-manager-ui-color: #f4f4f5;
    --consent-manager-ui-inverse-shadow: 0 -1px 3px 2px rgba(250, 250, 250, 0.1),
      0 -1px 2px 0 rgba(250, 250, 250, 0.05);
    --consent-manager-ui-switch-slide-bg: #a1a1aa;
    --consent-manager-ui-link-color: #22c55e;
    --consent-manager-ui-fallback-stripe-color: rgb(32, 32, 34);
    --consent-manager-ui-intro-close-bg: #f4f4f5;
    --consent-manager-ui-intro-close-color: #18181b;
  }
}

/* Size definitions */
:root {
  --consent-manager-ui-toggle-size: 3rem;
  --consent-manager-ui-toggle-padding: 1rem;
  --consent-manager-ui-intro-font-size: 14px;
  --consent-manager-ui-intro-wedge-length: 1rem;
  --consent-manager-ui-fallback-stripe-width: 12px;
}

@media (min-width: 767px) {
  :root {
    --consent-manager-ui-toggle-size: 3.5rem;
    --consent-manager-ui-toggle-padding: 1rem;
    --consent-manager-ui-intro-font-size: 15px;
  }
}

.icon {
  display: inline-block;
  width: 1.75em;
  height: auto;
  margin-right: 0.5em;
  color: var(--consent-manager-ui-primary);
  vertical-align: middle;
}

.wrapper {
  display: block;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: auto;
  z-index: 9999;
}

.wrapper a {
  color: var(--consent-manager-ui-link-color);
  text-decoration: none;
}

.wrapper a:hover {
  color: var(--consent-manager-ui-link-color);
  text-decoration: underline;
}

.wrapper p:last-child {
  margin-bottom: 0;
}

.pane {
  color: var(--consent-manager-ui-color);
}

.slide {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  will-change: transform;
  transition-property: transform;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transform: translateY(-100%);
  background: var(--consent-manager-ui-bg);
  will-change: opacity;
  transition-property: opacity;
}

@supports (backdrop-filter: blur(1px)) {
  .backdrop {
    background: var(--consent-manager-ui-bg-transparent);
    backdrop-filter: saturate(160%) blur(20px);
  }
}

/* Form */

.form {
  position: relative;
  overflow-y: auto;
}

.formContent {
  max-width: 960px;
  margin: 0 auto;
  padding: 4rem 1rem 2rem;
}

@media (min-width: 767px) {
  .formContent {
    padding: 4rem 2rem 2rem;
  }
}

@media (min-width: 1000px) {
  .formContent {
    padding: 2rem;
  }
}

.formTitle {
  font-size: 1.3em;
}

.formIcon {
  display: block;
  margin: 0 0 0.5rem 0;
}

@media (min-width: 767px) {
  .formIcon {
    display: inline-block;
    margin: 0 0.5rem 0 0;
  }
}

/* .formIntro {} */

.formControls {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 220px));
  justify-content: center;
  font-size: 1rem;
  margin: 1rem auto;
  max-width: 600px;
}

@media (min-width: 1000px) {
  .formControls {
    font-size: 1.3rem;
    max-width: none;
  }
}

.formIntegrations {
  position: relative;
  margin-top: 2rem;
}

.integrationField {
  padding: 1rem 0;
  position: relative;
}

.formIntegrationsList {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem 1rem;
}

@media (min-width: 767px) {
  .formIntegrationsList {
    display: grid;
    grid-template-columns: minmax(220px, max-content) 1fr;
    grid-gap: 2rem;
    padding: 1rem 2rem 3rem;
  }
}

.formIntegrationsList > * {
  position: relative;
}

@media (min-width: 767px) {
  .formIntegrationsList > *:not(:last-child):not(:nth-last-child(2))::before {
    content: '';
    display: block;
    border-top: 1px solid currentColor;
    opacity: 0.3;
    position: absolute;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
  }
}

.formIntegrations::before,
.formIntegrations::after {
  content: '';
  display: block;
  border-top: 1px solid currentColor;
  opacity: 0.3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.formIntegrations::after {
  top: auto;
  bottom: 1rem;
}

.integrationFieldTrigger {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.integrationFieldDetails {
  margin-top: 1rem;
  font-size: 0.9em;
}

.integrationFieldDetails {
  position: relative;
  margin-bottom: 2rem;
}

@media (min-width: 767px) {
  .integrationFieldDetails {
    margin-bottom: 0;
  }
}

.integrationFieldDetails:not(:last-child)::before {
  content: '';
  display: block;
  border-top: 1px solid currentColor;
  opacity: 0.3;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1rem;
}

.integrationFieldCategory {
  font-size: 1.5em;
  margin: 0;
  max-width: 220px;
}

@media (min-width: 767px) {
  .integrationFieldCategory {
    margin-bottom: 0.5rem;
  }
}

.integrationFieldCompany {
  display: flex;
  align-items: center;
  font-size: 0.85em;
}

.integrationLabel {
  margin: 0.25em;
  border-radius: 0.25rem;
  padding: 0.2em 0.5em;

  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.integrationLabelIcon {
  width: 1.8em;
  padding-right: 0.5em;
}
/* .integrationTitle {} */
.integrationLabelDescription {
  margin-top: 1rem;
  font-size: 0.9em;
  opacity: 0.9;
}
.integrationPrivacyPolicyLink {
  margin-top: 1rem;
  font-size: 0.9em;
  opacity: 0.9;
}

/* Toggle */

.toggleButton {
  display: block;

  position: absolute;
  left: 0;
  top: 0;

  padding: var(--consent-manager-ui-toggle-padding);

  cursor: pointer;
  background: transparent;
  border: none;

  transform: translateY(-100%);
}

.toggleButton:focus,
.toggleButton:hover {
  outline: none;
}

@media (min-width: 767px) {
  .toggleButton {
    font-size: 26px;
  }
}

.toggleButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 9999px;
  color: var(--consent-manager-ui-toggle-primary);
  background: var(--consent-manager-ui-toggle-bg);
  filter: drop-shadow(var(--consent-manager-ui-drop-shadow));

  width: var(--consent-manager-ui-toggle-size);
  height: var(--consent-manager-ui-toggle-size);
}

.toggleButtonIcon {
  display: block;
  width: 50%;
  height: auto;
}

/* Introduction */

.introduction {
  padding: 0 1rem
    calc(
      var(--consent-manager-ui-toggle-size) +
        var(--consent-manager-ui-toggle-padding) +
        var(--consent-manager-ui-intro-wedge-length) + 0.5rem
    )
    1rem;
  min-width: 240px;
  width: 100vw;
  max-width: 420px;
  filter: drop-shadow(var(--consent-manager-ui-drop-shadow));
}

@media (min-width: 767px) {
  .introduction {
    padding: 0 1rem 1rem
      calc(
        var(--consent-manager-ui-toggle-size) +
          var(--consent-manager-ui-toggle-padding) +
          var(--consent-manager-ui-intro-wedge-length) + 0.5rem
      );
    width: 62.8vw;
    max-width: 500px;
  }
}
.introductionShape {
  position: absolute;
  bottom: calc(
    var(--consent-manager-ui-toggle-size) +
      var(--consent-manager-ui-toggle-padding) + 0.5rem
  );
  left: calc(var(--consent-manager-ui-toggle-size) / 2);
  width: var(--consent-manager-ui-intro-wedge-length);
  height: var(--consent-manager-ui-intro-wedge-length);
  background-color: var(--consent-manager-ui-intro-bg);
  transform: translateX(50%) translateY(-1px);

  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
@media (min-width: 767px) {
  .introductionShape {
    left: calc(
      var(--consent-manager-ui-toggle-size) +
        var(--consent-manager-ui-toggle-padding) + 0.5rem
    );
    bottom: calc(var(--consent-manager-ui-toggle-size) / 2);
    transform: translateY(-50%);

    clip-path: polygon(100% 0, 100% 100%, 0 50%);
  }
}
.introductionContent {
  position: relative;
  border-radius: 0.5rem;
  background-color: var(--consent-manager-ui-intro-bg);

  padding: 0.75rem;
  color: var(--consent-manager-ui-intro-color);
  font-size: var(--consent-manager-ui-intro-font-size);
}

@media (min-width: 767px) {
  .introductionContent {
    padding: 1rem;
  }
}
.introductionTitle {
  color: var(--consent-manager-ui-intro-primary);
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
}
.introductionDescription {
  margin: 0 0 0.5em 0;
}
.introductionControls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.buttonReset {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.buttonReset:focus,
.buttonReset:hover {
  outline: none;
  opacity: 0.9;
}
.button {
  padding: 0.5em 0.5em;
  border-radius: 0.25rem;
  font-weight: bold;
  color: var(--consent-manager-ui-primary);
}
.button[data-button-style='primary'] {
  background: var(--consent-manager-ui-primary);
  color: var(--consent-manager-ui-intro-bg);
  padding-left: 1em;
  padding-right: 1em;
}

.buttonClose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;

  border-radius: 9999px;
  filter: drop-shadow(var(--consent-manager-ui-drop-shadow));

  background: var(--consent-manager-ui-intro-close-bg);
  color: var(--consent-manager-ui-intro-close-color);
}

.buttonClose {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.formButtonClose {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(25%, 25%);
}

@media (min-width: 767px) {
  .formButtonClose {
    transform: translate(75%, 75%);
  }
}

.buttonCloseIcon {
  display: block;
  width: 24px;
  height: auto;
}

@media (min-width: 767px) {
  .buttonCloseIcon {
    width: 30px;
  }
}

/* Fallback component */

.fallbackComponent {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;

  background: repeating-linear-gradient(
    45deg,
    var(--consent-manager-ui-fallback-stripe-color),
    var(--consent-manager-ui-fallback-stripe-color)
      var(--consent-manager-ui-fallback-stripe-width),
    transparent var(--consent-manager-ui-fallback-stripe-width),
    transparent calc(var(--consent-manager-ui-fallback-stripe-width) * 2)
  );
  border: var(--consent-manager-ui-fallback-stripe-width) solid
    var(--consent-manager-ui-fallback-stripe-color);
}

@media (min-width: 767px) {
  .fallbackComponent {
    font-size: 1em;
    padding: 1rem;
  }
}

.fallbackComponentContent {
  max-width: 420px;
}

.fallbackComponentTitle {
  font-size: 1.3em;
  margin-bottom: 1rem;
}

.fallbackComponentIcon {
  display: block;
  margin: 0 0 0.5rem 0;
}

@media (min-width: 767px) {
  .fallbackComponentIcon {
    display: inline-block;
    margin: 0 0.5rem 0 0;
  }
}

.fallbackComponentControls {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (min-width: 767px) {
  .fallbackComponentControls {
    gap: 2rem;

    flex-wrap: nowrap;
  }
}

/* Switch */

.switchLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.switchWrapper {
  position: relative;
}

.switchSlide {
  width: 2.5rem;
  height: 1rem;
  background: var(--consent-manager-ui-switch-slide-bg);
  border-radius: 1rem;
  box-shadow: var(--consent-manager-ui-switch-shadow);
  transition: background-color 0.3s ease-out;
}

.switchSlideEnabled {
  background: var(--consent-manager-ui-switch-slide-enabled);
}

.switchNodge {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--consent-manager-ui-switch-nodge-bg);
  border-radius: 1.5rem;
  box-shadow: var(--consent-manager-ui-switch-shadow);
  top: -0.25rem;
  left: -0.25rem;
  transition: transform 0.3s ease-in-out;
}

.switchNodgeEnabled {
  transform: translateX(100%);
}

.switchContent {
  width: 100%;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 767px) {
  .switchContent {
    display: block;
  }
}

.switchInput {
  display: none;
}
