/* color scheme aware color definitions */
:root {
  --consent-manager-ui-bg: #fafafa;
  --consent-manager-ui-color: #18181b;
  --consent-manager-ui-inverse-shadow: 0 -1px 3px 2px rgba(161, 161, 170, 0.2),
    0 -1px 2px 0 rgba(161, 161, 170, 0.09);
  --consent-manager-ui-drop-shadow: 0 1px 3px rgba(98, 98, 101, 0.36);
  --consent-manager-ui-switch-slide-bg: #e4e4e7;
  --consent-manager-ui-switch-nodge-bg: #fafafa;
  --consent-manager-ui-switch-shadow: 0 1px 3px 2px rgba(24, 24, 27, 0.2),
    0 1px 2px 0 rgba(24, 24, 27, 0.09);
  --consent-manager-ui-backdrop-bg: rgba(24, 24, 27, 0.62);
  --consent-manager-ui-toggle-primary: #16a34a;
  --consent-manager-ui-toggle-bg: #f4f4f5;
  --consent-manager-ui-intro-primary: #16a34a;
  --consent-manager-ui-intro-bg: #f4f4f5;
  --consent-manager-ui-intro-color: #18181b;
  --consent-manager-ui-intro-close-bg: #18181b;
  --consent-manager-ui-intro-close-color: #fff;
}

html[data-theme='dark'] {
  --consent-manager-ui-bg: #18181b;
  --consent-manager-ui-color: #fafafa;
  --consent-manager-ui-inverse-shadow: 0 -1px 3px 2px rgba(250, 250, 250, 0.1),
    0 -1px 2px 0 rgba(250, 250, 250, 0.05);
  --consent-manager-ui-switch-slide-bg: #a1a1aa;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    --consent-manager-ui-bg: #18181b;
    --consent-manager-ui-color: #fafafa;
    --consent-manager-ui-inverse-shadow: 0 -1px 3px 2px rgba(250, 250, 250, 0.1),
      0 -1px 2px 0 rgba(250, 250, 250, 0.05);
    --consent-manager-ui-switch-slide-bg: #a1a1aa;
  }
}

/* Size definitions */
:root {
  --consent-manager-ui-toggle-size: 3rem;
  --consent-manager-ui-toggle-padding: 1rem;
  --consent-manager-ui-intro-font-size: 14px;
  --consent-manager-ui-intro-wedge-length: 1rem;
}

@media (min-width: 767px) {
  :root {
    --consent-manager-ui-toggle-size: 3.5rem;
    --consent-manager-ui-toggle-padding: 1rem;
    --consent-manager-ui-intro-font-size: 15px;
  }
}

/* Slides and coloring */

.wrapper {
  display: block;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: auto;
  z-index: 9999;
  transform: translateY(100%);
}

.pane {
  background: var(--consent-manager-ui-bg);
  color: var(--consent-manager-ui-color);
  box-shadow: var(--consent-manager-ui-inverse-shadow);
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transform: translateY(-100%);
  background: var(--consent-manager-ui-backdrop-bg);
}

@supports (backdrop-filter: blur(1px)) {
  .backdrop {
    backdrop-filter: blur(4px);
    background: none;
  }
}

/* Form */

.form {
  max-width: 960px;
  margin: 0 auto;
  overflow-y: auto;
  padding: 2rem;
}

.formControl {
  margin-bottom: 1rem;
}

.formControl + .formControl::before {
  content: '';
  display: block;
  border-top: 1px solid currentColor;
  opacity: 0.3;
  margin-bottom: 1rem;
}

.integration {
  border-radius: 0.25rem;
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: center;
}

.integrationIcon {
  width: 2rem;
  padding-right: 0.5rem;
}
.integrationTitle {
}
.integrationDescription {
  margin-top: 1rem;
  font-size: 0.9em;
  opacity: 0.9;
}
.integrationPrivacyPolicyLink {
  margin-top: 1rem;
  font-size: 0.9em;
  opacity: 0.9;
}

.submitButton {
  margin-bottom: 1rem;
}

.submitButton:last-child {
  margin-bottom: 0;
}

@media (min-width: 767px) {
  .submitButton:first-child {
    display: none;
  }
}

/* Toggle */

.toggleButton {
  display: block;

  position: absolute;
  left: 0;
  top: 0;

  padding: var(--consent-manager-ui-toggle-padding);

  cursor: pointer;
  background: transparent;
  border: none;

  transform: translateY(-100%);
}

.toggleButton:focus,
.toggleButton:hover {
  outline: none;
}

@media (min-width: 767px) {
  .toggleButton {
    font-size: 26px;
  }
}

.toggleButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 9999px;
  color: var(--consent-manager-ui-toggle-primary);
  background: var(--consent-manager-ui-toggle-bg);
  filter: drop-shadow(var(--consent-manager-ui-drop-shadow));

  width: var(--consent-manager-ui-toggle-size);
  height: var(--consent-manager-ui-toggle-size);
}

.toggleButtonIcon {
  display: block;
  width: 50%;
  height: auto;
}

/* Introduction */

.introduction {
  padding: 0 1rem 1rem
    calc(
      var(--consent-manager-ui-toggle-size) +
        var(--consent-manager-ui-toggle-padding) +
        var(--consent-manager-ui-intro-wedge-length) + 0.5rem
    );
  max-width: 420px;
  filter: drop-shadow(var(--consent-manager-ui-drop-shadow));
}
.introductionShape {
  position: absolute;
  left: calc(
    var(--consent-manager-ui-toggle-size) +
      var(--consent-manager-ui-toggle-padding) + 0.5rem
  );
  bottom: calc(var(--consent-manager-ui-toggle-size) / 2);
  width: var(--consent-manager-ui-intro-wedge-length);
  height: var(--consent-manager-ui-intro-wedge-length);
  background-color: var(--consent-manager-ui-intro-bg);
  transform: translateY(-50%);

  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
.introductionContent {
  position: relative;
  border-radius: 0.5rem;
  background-color: var(--consent-manager-ui-intro-bg);

  padding: 0.75rem;
  color: var(--consent-manager-ui-intro-color);
  font-size: var(--consent-manager-ui-intro-font-size);
}

@media (min-width: 767px) {
  .introductionContent {
    padding: 1rem;
  }
}
.introductionTitle {
  color: var(--consent-manager-ui-intro-primary);
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
}
.introductionDescription {
  margin: 0 0 0.5em 0;
}
.introductionControls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.introductionButtonReset {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.introductionButtonReset:focus,
.introductionButtonReset:hover {
  outline: none;
  opacity: 0.9;
}
.introductionButton {
  padding: 0.5em 0.5em;
  border-radius: 0.25rem;
  font-weight: bold;
}
.introductionButtonPrimary {
  background: var(--consent-manager-ui-intro-primary);
  color: var(--consent-manager-ui-intro-bg);
  padding-left: 1em;
  padding-right: 1em;
}

.introductionButtonClose {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;

  border-radius: 9999px;
  filter: drop-shadow(var(--consent-manager-ui-drop-shadow));

  background: var(--consent-manager-ui-intro-close-bg);
  color: var(--consent-manager-ui-intro-close-color);
}

.introductionButtonCloseIcon {
  display: block;
  width: 24px;
  height: auto;
}

@media (min-width: 767px) {
  .introductionButtonCloseIcon {
    width: 30px;
  }
}

/* Fallback component */

.fallbackComponent {
  width: 100%;
  border: 3px solid #eee;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* Switch */

.switchLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.switchWrapper {
  position: relative;
}

.switchSlide {
  width: 2.5rem;
  height: 1rem;
  background: var(--consent-manager-ui-switch-slide-bg);
  border-radius: 1rem;
  box-shadow: var(--consent-manager-ui-switch-shadow);
  transition: background-color 0.3s ease-out;
}

.switchNodge {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--consent-manager-ui-switch-nodge-bg);
  border-radius: 1.5rem;
  box-shadow: var(--consent-manager-ui-switch-shadow);
  top: -0.25rem;
  left: -0.25rem;
  transition: transform 0.3s ease-in-out;
}

.switchContent {
  margin-left: 0.75rem;
  color: #52525b;
}

.switchInput {
  display: none;
}
