/* color scheme aware color definitions */
:root {
  --consent-control-ui-bg: #fafafa;
  --consent-control-ui-color: #18181b;
  --consent-control-ui-shadow: 0 -1px 3px 2px rgba(161, 161, 170, 0.2),
    0 -1px 2px 0 rgba(161, 161, 170, 0.09);
  --consent-control-ui-switch-slide-bg: #e4e4e7;
  --consent-control-ui-switch-nodge-bg: #fafafa;
  --consent-control-ui-switch-shadow: 0 1px 3px 2px rgba(24, 24, 27, 0.2),
    0 1px 2px 0 rgba(24, 24, 27, 0.09);
}

html[data-theme='dark'] {
  --consent-control-ui-bg: #18181b;
  --consent-control-ui-color: #fafafa;
  --consent-control-ui-shadow: 0 -1px 3px 2px rgba(250, 250, 250, 0.1),
    0 -1px 2px 0 rgba(250, 250, 250, 0.05);
  --consent-control-ui-switch-slide-bg: #a1a1aa;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    --consent-control-ui-bg: #18181b;
    --consent-control-ui-color: #fafafa;
    --consent-control-ui-shadow: 0 -1px 3px 2px rgba(250, 250, 250, 0.1),
      0 -1px 2px 0 rgba(250, 250, 250, 0.05);
    --consent-control-ui-switch-slide-bg: #a1a1aa;
  }
}

/* Slides and coloring */

.wrapper {
  display: block;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: auto;
  z-index: 9999;
  transform: translateY(100%);
}

.container {
  max-height: 100vh;
  overflow-y: auto;
}

.pane {
  background: var(--consent-control-ui-bg);
  color: var(--consent-control-ui-color);
  box-shadow: var(--consent-control-ui-shadow);
}

.introduction {
  text-align: center;
  font-weight: bold;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transform: translateY(-100%);
}

/** Form */

.formControl {
  margin-bottom: 1rem;
}

.formControl + .formControl::before {
  content: '';
  display: block;
  border-top: 1px solid currentColor;
  opacity: 0.3;
  margin-bottom: 1rem;
}

.integration {
  border-radius: 0.25rem;
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: center;
}

.integrationIcon {
  width: 2rem;
  height: 100%;
  padding-right: 0.5rem;
}
.integrationTitle {
}
.integrationDescription {
  margin-top: 1rem;
  font-size: 0.9em;
  opacity: 0.9;
}
.integrationPrivacyPolicyLink {
  margin-top: 1rem;
  font-size: 0.9em;
  opacity: 0.9;
}

/** Controls */

.toggleButton {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  transform: translateY(-100%);
  font-size: 20px;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
  background: transparent;
  border: none;
}

@media (min-width: 767px) {
  .toggleButton  {
    font-size: 26px;
  }
}

.toggleButtonContent {
  border-radius: 9999px;
  padding: 0.5em;
}

.inverted {
  transform: rotate(-180deg);
}

/* Fallback component */

.fallbackComponent {
  width: 100%;
  border: 3px solid #eee;
  padding: 1rem;
  margin-bottom: 2rem;
}
